<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huan.HTed.account.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.huan.HTed.account.dto.Role">
        <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
        <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
        <result column="ROLE_DESCRIPTION" property="roleDescription" jdbcType="VARCHAR" />
    </resultMap>

    
    <select id="adminqueryNotHave" resultMap="BaseResultMap" parameterType="com.huan.HTed.account.dto.UserRole">
        select * from sys_role  c where c.ROLE_ID not in (
        	select b.ROLE_ID from sys_user_role a left join sys_role b
            on a.ROLE_ID=b.ROLE_ID where a.USER_ID =#{userId}
            )
    </select>
    
    <select id="adminQueryHave" resultMap="BaseResultMap" parameterType="com.huan.HTed.account.dto.UserRole">
         select b.* from sys_user_role a left join sys_role b
            on a.ROLE_ID=b.ROLE_ID where a.USER_ID =#{userId}
    </select>
	
</mapper>