<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shtyxh.manager.account.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.shtyxh.manager.account.dto.User">
        <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
        <result column="PASSWORD_ENCRYPTED" property="passwordEncrypted" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="PHONE" property="phone" jdbcType="VARCHAR" />
        <result column="START_ACTIVE_DATE" property="startActiveDate" jdbcType="DATE" />
        <result column="END_ACTIVE_DATE" property="endActiveDate" jdbcType="DATE" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
    </resultMap>

	  <select id="selectWithRole" resultMap="BaseResultMap" parameterType="com.shtyxh.manager.account.dto.Role">
	        select a.* from sys_user a left join sys_user_role b
	            on a.USER_ID=b.USER_ID  
	           <where>
	           		<if test="roleId != null and roleId !=''">
           			AND b.ROLE_ID  = #{roleId}
           		</if>
	           </where>
	    </select>
	    
	    <select id="adminQueryCountWithRole" resultType="java.lang.Integer" parameterType="com.shtyxh.manager.account.dto.Role">
        select count(1) from sys_role_func  
           <where>
           		<if test="roleId != null and roleId !=''">
           			AND ROLE_ID  = #{roleId}
           		</if>
           </where>
    </select>

</mapper>