<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shtyxh.manager.account.mapper.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.shtyxh.manager.account.dto.UserRole">
        <result column="SUR_ID" property="surId" jdbcType="DECIMAL" />
        <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    </resultMap>
     <select id="ifAdminRole" resultType="java.lang.Boolean" parameterType="long">
        select count(1) from sys_user_role a 
			left join sys_role b on a.role_id=b.role_id 
			where a.USER_ID = #{userId} and b.role_code='admin'
    </select>
</mapper>