<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shtyxh.manager.mapper.KgContactMapper">
    <resultMap id="BaseResultMap" type="com.shtyxh.manager.dto.KgContact">
        <result column="id" property="id" jdbcType="DECIMAL" />
        <result column="sysName" property="sysname" jdbcType="VARCHAR" />
        <result column="sysKey" property="syskey" jdbcType="VARCHAR" />
        <result column="sysValue" property="sysvalue" jdbcType="VARCHAR" />
    </resultMap>


</mapper>