<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shtyxh.manager.mapper.KgDownloadMapper">
    <resultMap id="BaseResultMap" type="com.shtyxh.manager.dto.KgDownload">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="file_title" property="fileTitle" jdbcType="VARCHAR" />
        <result column="file_path" property="filePath" jdbcType="VARCHAR" />
        <result column="summary" property="summary" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="createDate" property="createdate" jdbcType="DATE" />
    </resultMap>


</mapper>