<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shtyxh.manager.mapper.KgMemberUnitsMapper">
    <resultMap id="BaseResultMap" type="com.shtyxh.manager.dto.KgMemberUnits">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="memberNo" property="memberno" jdbcType="VARCHAR" />
        <result column="cantonId" property="cantonid" jdbcType="DECIMAL" />
        <result column="kindergartenName" property="kindergartenname" jdbcType="VARCHAR" />
        <result column="kindergartenSite" property="kindergartensite" jdbcType="VARCHAR" />
        <result column="zipCode" property="zipcode" jdbcType="VARCHAR" />
        <result column="telphone" property="telphone" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="VARCHAR" />
        <result column="nature" property="nature" jdbcType="VARCHAR" />
        <result column="admissionTime" property="admissiontime" jdbcType="TIMESTAMP" />
    </resultMap>


	<resultMap  id="OtherResultMap" type="com.shtyxh.manager.dto.KgMemberUnits">
         <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="memberNo" property="memberno" jdbcType="VARCHAR" />
        <result column="cantonId" property="cantonid" jdbcType="DECIMAL" />
        <result column="kindergartenName" property="kindergartenname" jdbcType="VARCHAR" />
        <result column="kindergartenSite" property="kindergartensite" jdbcType="VARCHAR" />
        <result column="zipCode" property="zipcode" jdbcType="VARCHAR" />
        <result column="telphone" property="telphone" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="VARCHAR" />
        <result column="nature" property="nature" jdbcType="VARCHAR" />
        <result column="admissionTime" property="admissiontime" jdbcType="TIMESTAMP" />
        <association property="kgcanton" javaType="com.shtyxh.manager.dto.KgCanton">
            <id column="cantonId" property="id"></id>
            <result column="cantonName" property="cantonname"/>
        </association>
    </resultMap>

 	<select id="selectWithOtherInfo" resultMap="OtherResultMap" parameterType="com.shtyxh.manager.dto.KgMemberUnits">
        select a.*,b.cantonName from kg_member_units a left join kg_canton b
            on a.cantonId=b.id 
           <where>
           		<if test="memberno != null and memberno!=''">
           			AND a.memberno = #{memberno}
           		</if>
           		<if test="cantonid != null and cantonid!=''">
           			AND a.cantonId = #{cantonid}
           		</if>
           		<if test="kindergartenname != null and kindergartenname!=''">
           			AND a.kindergartenname  like CONCAT('%',#{kindergartenname},'%') 
           			
           		</if>
           		<if test="kindergartensite != null  and kindergartensite!=''">
           		 	AND a.kindergartensite  like CONCAT('%',#{kindergartensite},'%') 
           		</if>
           </where>
           
           <choose>
			    <when test="sortname!=null and sortname !=''">
			         ORDER BY ${sortname} ${sortorder}
			    </when>
			    <otherwise>
			        ORDER BY a.id  DESC
			    </otherwise>
			</choose>
           
    </select>
    
   <select id="adminQueryCount" resultType="java.lang.Integer" parameterType="com.shtyxh.manager.dto.KgMemberUnits">
        select count(1) from kg_member_units a
            <where>
           		<if test="memberno != null and memberno!=''">
           			AND a.memberno = #{memberno}
           		</if>
           		<if test="cantonid != null and cantonid!=''">
           			AND a.cantonId = #{cantonid}
           		</if>
           		<if test="kindergartenname != null and kindergartenname!=''">
           			AND a.kindergartenname  like CONCAT('%',#{kindergartenname},'%') 
           			
           		</if>
           		<if test="kindergartensite != null  and kindergartensite!=''">
           		 	AND a.kindergartensite  like CONCAT('%',#{kindergartensite},'%') 
           		</if>
           </where>
           
    </select>
</mapper>