<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shtyxh.manager.mapper.KgNewsAttributeMapper">
    <resultMap id="BaseResultMap" type="com.shtyxh.manager.dto.KgNewsAttribute">
        <result column="id" property="id" jdbcType="DECIMAL" />
        <result column="attributeName" property="attributename" jdbcType="VARCHAR" />
    </resultMap>


</mapper>