<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shtyxh.manager.mapper.KgTypeMapper">
    <resultMap id="BaseResultMap" type="com.shtyxh.manager.dto.KgType">
        <id column="id" property="id" jdbcType="DECIMAL" />
        <result column="typeName" property="typename" jdbcType="VARCHAR" />
        <result column="parentId" property="parentid" jdbcType="DECIMAL" />
        <result column="relateType" property="relatetype" jdbcType="INTEGER" />
        <result column="relateTypeId" property="relatetypeid" jdbcType="DECIMAL" />
        <result column="hidden" property="hidden" jdbcType="TINYINT" />
        <result column="sequence" property="sequence" jdbcType="DECIMAL" />
    </resultMap>
    
    <resultMap id="RecursionResultMap" type="com.shtyxh.manager.dto.KgType">
        <id column="id" property="id" jdbcType="DECIMAL" />
        <result column="typeName" property="typename" jdbcType="VARCHAR" />
         
        <result column="parentId" property="parentid" jdbcType="DECIMAL" />
        <result column="relateType" property="relatetype" jdbcType="INTEGER" />
        <result column="relateTypeId" property="relatetypeid" jdbcType="DECIMAL" />
        <result column="hidden" property="hidden" jdbcType="TINYINT" />
        <result column="sequence" property="sequence" jdbcType="DECIMAL" />
        <collection property ="childType" ofType="com.shtyxh.manager.dto.KgType" column="id" select="findChildType">
        </collection>
    </resultMap>
    
    <resultMap id="ParentResultMap" type="com.shtyxh.manager.dto.KgType">
        <id column="id" property="id" jdbcType="DECIMAL" />
        <result column="typeName" property="typename" jdbcType="VARCHAR" />
        <result column="parentId" property="parentid" jdbcType="DECIMAL" />
        <result column="relateType" property="relatetype" jdbcType="INTEGER" />
        <result column="relateTypeId" property="relatetypeid" jdbcType="DECIMAL" />
        <result column="hidden" property="hidden" jdbcType="TINYINT" />
        <result column="sequence" property="sequence" jdbcType="DECIMAL" />
        <collection property ="parentType" ofType="com.shtyxh.manager.dto.KgType" column="parentId" select="findParentType">
        </collection>
    </resultMap>
    
    <select id="findChildType" resultMap="RecursionResultMap" >
    	select * from kg_type where parentId = #{typeid} and hidden =0
    </select>
    
    
    <select id="findParentType" resultMap="ParentResultMap" >
    	select * from kg_type where id = #{typeid}
    </select>
    

</mapper>