<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shtyxh.manager.mapper.KgUserQAnswerMapper">
    <resultMap id="BaseResultMap" type="com.shtyxh.manager.dto.KgUserQAnswer">
        <result column="id" property="id" jdbcType="DECIMAL" />
        <result column="sid" property="sid" jdbcType="DECIMAL" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="aid" property="aid" jdbcType="DECIMAL" />
        <result column="checkCurr" property="checkcurr" jdbcType="TINYINT" />
        <result column="content" property="content" jdbcType="VARCHAR" />
    </resultMap>

	<select id="queryCount" resultType="java.lang.Integer" parameterType="com.shtyxh.manager.dto.KgUserQAnswer">
        select count(1) from kg_user_q_answer 
           <where>
           		<if test="ip != null and ip !=''">
           			AND ip  = #{ip}
           		</if>
           		<if test="aid != null and aid !=''">
           			AND aid = #{aid}
           		</if>
           		<if test="sid != null and sid !=''">
           			AND sid = #{sid}
           		</if>
           </where>
    </select>
</mapper>