<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<title>${webname}</title>
<link rel="shortcut icon" href="${base.contextPath}/favicon.ico" />
<link href="${base.contextPath}/lib/index/css/banner.css"
	rel="stylesheet" type="text/css" />
<link href="${base.contextPath}/lib/index/css/indexonly.css"
	rel="stylesheet" type="text/css" />
<script type="text/javascript"
	src="${base.contextPath}/lib/index/search/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript"
	src="${base.contextPath}/lib/index/js/index/common.js"></script>
<!-- 导航下轮播 -->
<script type="text/javascript"
	src="${base.contextPath}/lib/index/js/index/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
	function downloadFile(path){
		var filePath = encodeURI(encodeURI(path));
		window.location="${fileserver}/fileDownload?filePath="+filePath; 
	}
</script>
</head>
<body id="index">

	<!--固定菜单 start-->
	<div id="top">
		<ul>
			<#if wb??&&wb!="">
				<li>
					<a class="web" href='javascript:void(0);'><img src="${base.contextPath}/lib/index/img/theme/default/wb.png" /></a>
					<div class="ewm_co2">
						<img src="${fileserver}${wb}" />
					</div>
				</li>
			</#if>
			<#if wx??&&wx!="">
				<li class="ewm">
					<a href='javascript:void(0);'><img src="${base.contextPath}/lib/index/img/theme/default/wx.png" /></a>
					<div class="ewm_co">
						<img src="${fileserver}${wx}" />
					</div>
				</li>
			</#if>
			<#if tel??&&tel!="">
				<li class="dianh">
					<a href='javascript:void(0);'><img src="${base.contextPath}/lib/index/img//theme/default/dh.png" /></a>
					<div class="phone">
						<span>${tel}</span>
					</div>
				</li>
			</#if>
		</ul>
	</div>
	<!--固定菜单 end-->
	<#include "../include/navigation.html"> <!-- banner start -->
	



	<div class="main">
		<div class="main_container">
			<div class="main_left_block mt13">
					<!-- banner start -->
					<div class="banner">
						<div class="js-sCont">
							<ul>
								<#list carouselList as carouselList>
								<li>
									<#if carouselList.urltype==0> 
										<a href="${carouselList.webUrl}" title="" target="_blank"> 
									<#elseif carouselList.urltype==1> 
										<a href="${base.contextPath}/index/news/newsDetail?id=${carouselList.newsId}" title="" target="_blank"> 
									<#else> 
										<a href="${base.contextPath}/index/assessmentDetail?id=${carouselList.activityId}" title="" target="_blank">
									</#if> 
								<img src="${fileserver}${carouselList.filePath}" alt="" width="698" height="475" title="" /></a>
								</li>
								</#list>
							</ul>
						</div>
						<div class="js-sDot">
							<ul></ul>
						</div>
						<a href="javascript:;" class="js-prev bannerBnt"></a> 
						<a href="javascript:;" class="js-next bannerBnt"></a>
					</div>
					<!-- banner end -->
					
	
					<!-- 协会动态 -->
					<div class="main_left_block_xhdt mt13">
						<div class="banner_block ">
							<div class="vF_banner bx_log">
								<p class="ml92 dlzc">
									<a href="${base.contextPath}/index/xhdt">协会动态</a>
								</p>
							</div>
						</div>
						<div class="wz_block_line1"></div>
						
						<#if typeXHDTShowList??>
							<#list typeXHDTShowList as typeList>
							<div class="wz_block">
									<div class="newslist_bl_gsgg ">
									<div class="newslist">
										<div class="vF_t3">
											<div class="vF_t2_r1" style="">
												<div class="vF_tab unit2">
													<div class="vF_title_bar3">
														<#if typeList_index==0>
															<h2 class="ui_til4_tab_u current2 word8 titleright">
																<a href="${base.contextPath}/index/xhdt/typeList?typeid=${typeList.id}">${typeList.typename}</a>
															</h2>
														<#else>
															<h2 class="ui_til4_tab_u current2 word8 titleleft">
																<a href="${base.contextPath}/index/xhdt/typeList?typeid=${typeList.id}">${typeList.typename}</a>
															</h2>
														</#if>
													</div>
												</div>
											</div>
											<ul class="c_list mt10 mb10 split" id="area3_con1">
												<#list typeList.newsList as newsList>
												<li style="width:628px"><a href="${base.contextPath}/index/xhdt/newsDetail?id=${newsList.id}" target="_blank"
													title="${newsList.newstitle}">${newsList.newsSimpleTitle}</a>
													<font style="float:right">${newsList.createdate?string('yyyy-MM-dd')}</font>
												</li>
												</#list>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<#if typeList_index==0>
								<div class="wz_block_line2"></div>
							</#if>
							<#if typeList_index!=0 && !typeList_has_next>
								<div class="wz_block_line3"></div>
							</#if>
							</#list>
						</#if>
					</div>
					<!-- 协会动态 end-->
				</div>
				
				<div class="main_right_block mt13">

						 <div class="search-bd bar6">
					        <form action="${base.contextPath}/index/news/search" id="search-form" class="form" method="GET">
					            <input type="text" placeholder="请输入查询内容" name="searchparam">
					            <button type="submit"></button>
					        </form>
					    </div>
				</div>
					
				<div class="main_right_block mt13">
					<!--右上法规与资讯start-->
					<div class="zxzxChild">
								<div class="zxtitle">
									<span><a href="${base.contextPath}/index/news" >法规与资讯</a></span>
								</div>
								<#list typeZxzxShowList as zxzxShow> 
									<div class="zxcontent">
										<#if zxzxShow_has_next>
											<dl class="sys1">
										<#else>
											<dl >
										</#if>
											<#if zxzxShow_index%4==0>
													<dt class="dt1">
											<#elseif zxzxShow_index%4==1>
													<dt class="dt2">
											<#elseif zxzxShow_index%4==2>
													<dt class="dt3">
											<#elseif zxzxShow_index%4==3>
													<dt class="dt4">
											</#if>
												
												<#if zxzxShow.id==20>
													<a href="${base.contextPath}/index/offers" target="_blank">${zxzxShow.typename}</a></dt>
													<#list zxzxShow.offersList as offersList>
														<dd>
															<a href="${base.contextPath}/index/offers/Detail?id=${offersList.id}" target="_blank" title="${offersList.title}">${offersList.newsSimpleTitle}</a>
														</dd>
													</#list>
												<#else>
													<a href="${base.contextPath}/index/news/typeList?typeid=${zxzxShow.id}" target="_blank">${zxzxShow.typename}</a></dt>
													<#list zxzxShow.newsList as newsList>
														<dd>
															<a href="${base.contextPath}/index/news/newsDetail?id=${newsList.id}" target="_blank" title="${newsList.newstitle}">${newsList.newsSimpleTitle}</a>
														</dd>
													</#list>
												</#if>
											</dl>
									</div>
								</#list>
								<div class="zxfooter"></div>
					</div>
					<!--右上资讯end-->
					<!-- 资料下载start -->
					<div class="main_right_cbl mt13">
						<h2>
							<a href="${base.contextPath}/index/download"
								target="_blank">资料下载</a>
						</h2>
						<ul class="xzzqlinks mb15">
							<#list downloadList as downloadList> <#if
								downloadList.password!="">
							<li class="xzzqlinks sys1"><p>${downloadList.fileTitle}</p></li>
							<#else>
							<li class="xzzqlinks sys1"><p>
									 <a href="javascript:void(0);"  title="${downloadList.fileTitle}" onclick="downloadFile('${downloadList.filePath}')">${downloadList.fileTitle}</a>
								</p></li></#if> </#list>
						</ul>
					</div>
					<!-- 资料下载end -->
				
					<!--预留广告位start-->
					<#if 1!=1>
					<div class="main_right_cbl mt13">
						<h2></h2>
						<div class="dzzwlinks mt10">
							<img src="img/wx_mof.gif" alt="" />
							<img src="img/wx_ccgp.gif" alt="" /> 
							<img src="img/app_qrcode.gif" alt="" style="margin-top: 6px" />
						</div>
					</div>
					</#if>
					<!-- 预留广告位end -->
				</div>
				
				<!-- 调查与研究start -->
				<div class="main_right_block mt13">
					<div class="main_right_cbl_dcyj">
							<div class="main_right_cbl_dcyj_leftText"><image src="${base.contextPath}/lib/index/img/index/dcyj.png" style="margin-left:20px"/></div>
							<div class="main_right_cbl_dcyj_rightText">
									<h2><a href="${base.contextPath}/index/dcyyj">调查与研究</a></h2>
									<ul>
										<#list typeDcyyjShowList as typeDcyyjShowList>
											<li><a href="${base.contextPath}/index/dcyyj/typeList?typeid=${typeDcyyjShowList.id}">${typeDcyyjShowList.typename}</a></li>
										</#list>
									</ul>
							</div>
					</div>
				</div>
				<!-- 调查与研究end -->
				
				<!-- 培训与鉴定start -->
				<div class="main_right_block_pxyjd mt13">
						<div class="main_right_cbl_pxyjd ">
							<div class="main_right_cbl_pxyjd_title">
								<h2>
									<a href="${base.contextPath}/index/jdypx"
										target="_blank">培训与鉴定</a>
								</h2>
							</div>
							<div class="main_right_cbl_pxyjd_line"></div>
							<#list typePxyjdShowList as typePxyjdShowList>
									<#if typePxyjdShowList_index%2==0>
										<#if typePxyjdShowList_index==2>
												<div class="bottomdldiv">
										<#else>
												<div class="dldiv">
										</#if>
										
									
									</#if>
										<dl>
											
											<#if typePxyjdShowList.id == 25>
												<dt><a href="${base.contextPath}/index/assessmentTypeList"  target="_blank">${typePxyjdShowList.typename!}</a></dt>
												<#list zzjdList as zzjdList>
													<dd><a href="${base.contextPath}/index/assessmentTypeList?typeid=${zzjdList.id}"  target="_blank">${zzjdList.assessmentTypeName}</a></dd>
												</#list>
											<#elseif typePxyjdShowList.id == 21>
												<dt><a href="${base.contextPath}/index/jdypx/gwpx"  target="_blank">${typePxyjdShowList.typename!}</a></dt>
												<dd><a href="${base.contextPath}/index/jdypx/gwpx?typeid=22"  target="_blank">幼教上岗证</a></dd>
												<dd><a href="${base.contextPath}/index/jdypx/gwpx?typeid=22"  target="_blank">致立培训</a></dd>
											<#else>
												<dt><a href="${base.contextPath}/index/jdypx/typeList?typeid=${typePxyjdShowList.id}"  target="_blank">${typePxyjdShowList.typename!}</a></dt>
<!-- 												<#list typePxyjdShowList.childType as childType> -->
<!-- 													<dd>${childType.typename!}</dd> -->
<!-- 												</#list> -->
											</#if>
										</dl>
									<#if typePxyjdShowList_index%2==1>
										<div class="dldiv_line">&nbsp;</div>
										</div>
									</#if>
							</#list>
							
							
						</div>
				</div>
				<!-- 培训与鉴定end -->
		</div>
	</div>




	<#include "../include/footer.html">
</body>
<!-- <script type="text/javascript" src="${base.contextPath}/lib/index/js/indexonly.js" ></script> -->
<script type="text/javascript">
$(function(){
	$(".dianh").mouseover(function(){
		$(".phone").show();	
	    $(".phone").stop(true,true).animate({right:'25px'});
	  });
	  $(".dianh").mouseout(function(){
		$(".phone").hide();							
	    $(".phone").animate({right:'-150px'});
	  });
	  $(".ewm").mouseover(function(){
		$(".ewm_co").show(500);	
	  });
	  $(".ewm").mouseout(function(){
		$(".ewm_co").stop(true,true).hide(500);	
	  });
	  $(".web").mouseover(function(){
		$(".ewm_co2").show(500);	
	  });
	  $(".web").mouseout(function(){
		$(".ewm_co2").stop(true,true).hide(500);	
	  });

	
});
</script>
<script type="text/javascript"
	src="${base.contextPath}/lib/index/js/slider.js"></script>
</html>