<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>cadoExcel</title>

    <meta name="keywords" content="#">
    <meta name="description" content="#">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico"> 
    <script src="${base.contextPath}/lib/jquery/jquery.min.js"></script>
    <script src="${base.contextPath}/lib/kendoui/js/kendo.all.min.js"></script>
    
    <link href="${base.contextPath}/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="${base.contextPath}/lib/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="${base.contextPath}/lib/kendoui/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="${base.contextPath}/lib/kendoui/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<script src="${base.contextPath}/lib/kendoui/js/cultures/kendo.culture.zh-CN.js"></script>
	<script src="${base.contextPath}/lib/kendoui/js/messages/kendo.messages.zh-CN.js"></script>
	
    
    <script>var _baseContext = '${base.contextPath}'</script>
    <script language="javascript">
	    $('[data-role="datepicker"]').kendoDatePicker({
	        format:"yyyy-MM-dd"
	    });
    </script>
</head>
