<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<title>个人中心_${webname}</title>
<link rel="shortcut icon" href="${base.contextPath}/favicon.ico" />
<link href="${base.contextPath}/lib/index/css/channel.css" rel="stylesheet" type="text/css" />
<link href="${base.contextPath}/lib/index/css/index/user.css" rel="stylesheet" type="text/css" />

<script  type="text/javascript" src="${base.contextPath}/lib/index/search/static/js/jquery-1.11.1.min.js"></script>

<!-- bootstrap插件 -->
<link rel="stylesheet" href="${base.contextPath}/lib/bootstrap-3.3.7/css/bootstrap.min.css">
<script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<!-- bootstraptable插件 -->
<link rel="stylesheet" href="${base.contextPath}/lib/bootstrap-table/css/bootstrap-table.min.css" />
<script src="${base.contextPath}/lib/bootstrap-table/js/bootstrap-table.min.js"></script>
<script src="${base.contextPath}/lib/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>


<style type="text/css" media="screen">
.fl { float: left;}
.fr { float: right;}
</style>
<script>
	function left_click(id){
		$("dl dd p").removeClass("on");
		var changeclass=window.document.getElementById('cid'+id);
		changeclass.className='on';
		 $.ajax({
	         url: "${base.contextPath}/index/admin/user/typeList?typeid="+id,
	         type: "POST",
	         datatype:"JSON",
	         data: {},
	         success: function (data) {
	        	 $(".vip_magRight").html(data);
	         },
	         error: function () {
	             alert("获取信息失败!");
	         }
	     });
	}
	function toUpdate(){
		var realName = $("#realName").val();
		var password = $("#password").val();
		var email = $("#email").val();
		var phone = $("#phone").val();
		if(realName==""){
			alert("请输入姓名！");
			return;
		}
		if(password.length>8){
			alert("密码长度大于8位！");
			return;
		}
		var addOrUpdateUserObj = {
	        	  realName:realName,
	        	  passwordEncrypted:password,
	        	  email:email,
	        	  phone : phone
	          };
		 $.ajax({  
	            "url":"${base.contextPath}/index/admin/user/submit",  
	            "type":"post",  
	            headers: {'Content-Type':'application/json'},
	            "data":JSON.stringify(addOrUpdateUserObj),
	            "success":function(obj){
	            	 var json = eval(obj); 
	            	 if(json.success){
	            		 alert("更新成功");
	            	 }
	            },  
	            "error":function(obj){
	            	console.log(obj)
	            },  
	            "dataType":"json",  
	            "async":false  
	        });  
	}
	
	function toUserAssessmentPage(id){
		window.open("${base.contextPath}/index/assessmentDetail?id="+id)
	}
	function btn_fresh(){
		$("#table").bootstrapTable('refresh');
	}
	function btn_delete(){
		var jsonArray = [];
		var allTableData = $('#table').bootstrapTable('getSelections');
	    for(var i = 0; i < allTableData.length; i++) {
	    	var id =allTableData[i].id;
	    	var assessmentActivityName =allTableData[i].kgAssessmentActivity.assessmentActivityName;
	    	jsonArray.push({"id":id,"assessmentActivityName":assessmentActivityName});
	     }
	    if(jsonArray.length==0){
	    	return;
	    }
		$.ajax({
	        type: "post",
	        dataType: "json",
	        contentType: 'application/json',
	        url:  '${base.contextPath}/index/admin/user/join/assessment/delete',
	        data: JSON.stringify(jsonArray),
	        success: function (data) {
	            if (data.success) {
	            	btn_fresh();
	            }else{
	            	alert(data.message);
	            }
	        }
		 });
	}
</script>
</head>
<body>
<#include "../../include/navigation.html">

<div class="main">
<div class="main_container">

	<!-- 内容  开始-->
		<div class="wrap">
			<div class="vip_cont c100 clearfix">
				<!--左边列表导航  开始-->
				<div class="fl vip_left vip_magLeft">
					<dl>
						<dt>用户管理</dt>
						<dd>
							<p id="cid1"><a href="javascript:void(0)"   onclick="left_click('1')">基本信息</a></p>
						</dd>
					</dl>
					<dl>
						<dt>评选评估</dt>
						<dd>
							<p id="cid2"><a href="javascript:void(0)"    onclick="left_click('2')" >参与评估</a></p>
						</dd>
					</dl>
				</div>
				<!--左边列表导航  结束-->

				<!--右边列表内容  开始-->
				<div class="fr vip_right vip_magRight">
					
					
				</div>
				<!--右边列表内容  结束-->
			</div>
		</div>

		<!-- 内容  结束-->



    </div>
</div>
<script>
$(document).ready(function(){
	left_click(${typeid});
});
</script>
<#include "../../include/footer.html">
</body>
</html>