<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<title>岗位培训_${webname}</title>
<link rel="shortcut icon" href="${fileserver}/uploadFile/ico/favicon.ico" />
<link href="${base.contextPath}/lib/index/css/common/common.css" rel="stylesheet" type="text/css" />
<link href="${base.contextPath}/lib/index/css/associationSurvery/associationSurvery.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="${base.contextPath}/lib/jquery/jquery.min.js" ></script>

<!-- bootstrap插件 -->
<link rel="stylesheet" href="${base.contextPath}/lib/bootstrap-3.3.7/css/bootstrap.min.css">
<script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<!-- 分页插件 -->
<script language="javascript" src="${base.contextPath}/lib/jqPaginator/jqpaginator.min.js" ></script>
</head>
<script>
	function left_click(id,name){
		$(document).attr("title",name);
		
		$(".left_box ul li ").removeClass("on");
		var changeclass=window.document.getElementById('cid'+id);
		changeclass.className='on';
		 $.ajax({
             url: "${base.contextPath}/index/jdypx/gwpx/typeList?typeid="+id,
             type: "POST",
             datatype:"JSON",
             data: {},
             success: function (data) {
            	 $(".right_box").html(data);
             },
             error: function () {
                 alert("获取信息失败!");
             }
         });
	}
	
	function page_click(id,num){
		 $.ajax({
             url: "${base.contextPath}/index/jdypx/gwpx/typeList?typeid="+id+"&page="+num,
             type: "POST",
             datatype:"JSON",
             data: {},
             success: function (data) {
            	 $(".right_box").html(data);
             },
             error: function () {
                 alert("获取信息失败!");
             }
         });
	}
	
	function detail_click(typeid,newsid){
		 $.ajax({
            url: "${base.contextPath}/index/xhgk/newsDetail?typeid="+typeid+"&newsid="+newsid,
            type: "POST",
            datatype:"JSON",
            data: {},
            success: function (data) {
           	 $(".right_box").html(data);
            },
            error: function () {
                alert("获取信息失败!");
            }
        });
	}

</script>
<body >
<#include "../../include/navigation.html">

<div class="main">
<div class="main_container">

	<div class="mainLeft_left_block mt13">
		<div class="left_box ">
			<strong> <span>岗位培训</span> 
			</strong>
	
			<ul>
				<#list typeList as typeList>
					<li  id="cid${typeList.id}"><a href="javascript:void(0)"  onclick="left_click('${typeList.id}','${typeList.typename}')">${typeList.typename}</a></li>
				</#list>
				<script>
							var changeclass=window.document.getElementById('cid${nowType.id!}');
							changeclass.className='on';
				</script>
	
			</ul>
		</div>
	</div>

    <div class="mainLeft_right_block mt13" >
				<div class="right_box">
						
						
					</div>

        </div>
    </div>
</div>
</div>

	<script>
	$(document).ready(function(){
		 $.ajax({
	         url: "${base.contextPath}/index/jdypx/gwpx/typeList?typeid=${nowType.id!}",
	         type: "POST",
	         datatype:"JSON",
	         data: {},
	         success: function (data) {
	        	 $(".right_box").html(data);
	         },
	         error: function () {
	             alert("获取信息失败!");
	         }
	     });
	});
	</script>

<#include "../../include/footer.html">
</body>
</html>