<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<title>${nowType.typename}_${webname!}</title>
<link rel="shortcut icon" href="${base.contextPath}/favicon.ico" />
<link href="${base.contextPath}/lib/index/css/common/common.css" rel="stylesheet" type="text/css" />
<link href="${base.contextPath}/lib/index/css/associationSurvery/associationSurvery.css" rel="stylesheet" type="text/css" />

<!-- 时间轴控件-->
<script type="text/javascript" src="${base.contextPath}/lib/index/search/static/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="${base.contextPath}/lib/index/jquery-time-05/css/about.css">




</head>
<body>
	<#include "../../include/navigation.html">

	<div class="main">
		<div class="main_container">
			<div class="mainLeft_left_block mt13">

				<!--OTsidebar-->
				<div class="left_box ">
					<strong>
					<span>协会概况</span>
					<samp></samp>
					</strong>
					
					<ul>
					<#list leftList as leftList>   
					              <li id="cid${leftList.id}"><a href="${base.contextPath}/index/associationSurvey/associationSurveyTypeList?typeid=${leftList.id}">${leftList.typename}</a></li>
				    </#list>  
					<script>
						var changeclass=window.document.getElementById('cid${nowType.id}');
						changeclass.className='on';
					</script>
					
					</ul>
					
					
					</div>
					

				</div>

				<div class="mainLeft_right_block mt13">
					<div class="right_box">
							<strong class="title">
								<span>${nowType.typename}</span>
							</strong>
						<div class="nr_box">
							
							 
							 <div class="box">
							 	<ul class="event_list">
							 	
							 		<#list rightMap?keys as key>
									  <div>
										<h3 id="${key}">${key}</h3>
										<#assign item = rightMap[key]>  
										<#list item as value>
											<li>
												<span>${value.historytime}</span>
												<p><span>${value.content}</span></p>
											</li>
										</#list>	
									</div>
									</#list>
								</ul>
							 </div>
							 <div class="clearfix"></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<#include "../../include/footer.html">
</body>
</html>