<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.huan.kindergarten.mapper.KgNewstypeMapper">
    <resultMap id="BaseResultMap" type="cn.huan.kindergarten.dto.KgNewstype">
        <result column="id" property="id" jdbcType="DECIMAL" />
        <result column="typeName" property="typename" jdbcType="VARCHAR" />
        <result column="entranceImagePath" property="entranceimagepath" jdbcType="VARCHAR" />
        <result column="showIndex" property="showindex" jdbcType="TINYINT" />
        <result column="showEntrance" property="showentrance" jdbcType="TINYINT" />
        
    </resultMap>


</mapper>