<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.huan.kindergarten.mapper.KgOffersMapper">
    <resultMap id="BaseResultMap" type="cn.huan.kindergarten.dto.KgOffers">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="publishUnit" property="publishunit" jdbcType="VARCHAR" />
        <result column="contactPerson" property="contactperson" jdbcType="VARCHAR" />
        <result column="contactTel" property="contacttel" jdbcType="VARCHAR" />
        <result column="salary" property="salary" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="publishDate" property="publishdate" jdbcType="TIMESTAMP" />
    </resultMap>


 <select id="selectWithOtherInfo" resultMap="BaseResultMap" parameterType="cn.huan.kindergarten.dto.KgOffers">
        select a.* from kg_offers a 
           <where>
           		<if test="publishunit != null">
           			AND a.publishUnit  like CONCAT('%',#{publishunit},'%') 
           		</if>
           </where>
           
           <choose>
			    <when test="sortname!=null and sortname !=''">
			         ORDER BY #{sortname} #{sortorder}
			    </when>
			    <otherwise>
			        ORDER BY a.publishDate DESC
			    </otherwise>
			</choose>
           
    </select>
    
   <select id="adminQueryCount" resultType="java.lang.Integer" parameterType="cn.huan.kindergarten.dto.KgOffers">
        select count(1) from kg_offers a 
            <where>
           		<if test="publishunit != null">
           			AND a.publishUnit  like CONCAT('%',#{publishunit},'%') 
           		</if>
           </where>
    </select>

</mapper>